
 
.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable){
  opacity :1
}

.hero img{
        border-radius: 5px;
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,.3);
    height:280px;
    max-width:100%;
}

.hero img{
transition:all .2s;
}

.hero img:hover{ 
   transform:scale(1.05,1.05);
   -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(50%);
}
